{% extends "layouts/base.html" %}

{% block title %}Lab 8 Task 1{% endblock title %}

{% block content %}
<h1>Lab 8 - Task 1</h1>
<h3>Books with price less than or equal to 80</h3>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                ID: {{ book.id }} |
                Title: {{ book.title }} |
                Author: {{ book.author }} |
                Price: {{ book.price }} |
                Edition: {{ book.edition }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No books found.</p>
{% endif %}
{% endblock content %}